/* ----------------------------- General style */
body{
    background-color: #fedc97;
    font-family: 'Lato', sans-serif;
}

.logo-text {
    font-family: 'Viaoda Libre', cursive;
    font-weight: 600;
}

.bg-pinky{
    background-color: #e2b4bd;
}


/* ------------------------------- main section */

.pic-width{
    width: 80%;
}

.text-width {
    width: 70%;
    background-color: antiquewhite;
    border: 1px solid black;
}