/* ----------------------------- General style */
body{
    background-color: #fedc97;
    font-family: 'Lato', sans-serif;
}

.logo-text {
    font-family: 'Viaoda Libre', cursive;
}


/* ------------------------------- main section */